header{
	background-color: teal;
	color: white;
	padding:1em;
	text-align: center;
}

nav{
	background-color: firebrick;
	color: white;
	padding:1em;
	text-align: center;
}

section{
	background-color: rosybrown;
	color: white;
	padding:1em;
	text-align: center;
}

aside{
	background-color: seagreen;
	color: white;
	padding:1em;
	text-align: center;
}

footer{
	background-color: steelblue;
	color: white;
	padding:1em;
	text-align: center;
}