/* 
- Mobile first design
- Media query works out layout for larger screens 
*/


/*Use border-box sizing to work out the width 
	of entire box (incl. border) */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

header, nav, section, aside, footer {
	color: white;
	padding:1em;
	text-align: center;
}

header{ background-color: teal; }

nav{ background-color: firebrick; }

section{ background-color: rosybrown; }

aside{ background-color: seagreen; }

footer{ background-color: steelblue; }


/* Apply the following styles to screens > 720px) */

@media only screen and (min-width: 720px) {
    
	nav{
		width:33.3333%;
		float:left;
		height:118px;  /* Have to add in static height to stretch nav */
	}

	#container{
		width:66.6666%;
		float:left;
	}

	footer{
		clear: left;
	}
}

/* Apply the following styles to screens > 1024px) */
@media only screen and (min-width: 1024px) {
    
	nav{
		height: auto;  /* Put nav back to auto from static height above */
	}

	section{
		width: 50%;
		float:left;
	}

	aside{
		width:50%;
		float:left;
	}

	footer{
		clear: left;
	}
}
