/* 
- Mobile first design
- Media query works out layout for larger screens 
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header, nav, section, aside, footer {
	color: white;
	padding:1em;
	text-align: center;
}
header{ background-color: teal; }

nav{ background-color: firebrick; }

section{ background-color: rosybrown; }

aside{ background-color: seagreen; }

footer{ background-color: steelblue; }


/* For small screens: */
[class*="col-"] {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
	display:block;
}


/* Apply the following styles to screens > 720px */

@media only screen and (min-width: 720px) {
    .col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}

	[class*="col-"] {
		float: left;
	}
}

/* Apply the following styles to screens > 1024px) */
@media only screen and (min-width: 1024px) {
    
	.col-lg-1 {width: 8.33%;}
	.col-lg-2 {width: 16.66%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}

	[class*="col-"] {
		float: left;
	}
}
