/* 
- Mobile first design
- Media query works out layout for larger screens 
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header, nav, section, aside, footer {
	color: white;
	padding:1em;
	text-align: center;
}

header{ 
	background-color: teal; 
	grid-area: header;
}

nav{ 
	background-color: firebrick;
	grid-area: nav;
}

section{ 
	background-color: rosybrown;
	grid-area: section;
}

aside{ 
	background-color: seagreen;
	grid-area: aside;
}

footer{ 
	background-color: steelblue; 
	grid-area: footer;
}

/* Show section before nav on mobile */
.grid{
	display: grid;
	grid-template-areas: 	"header"
							"section"
							"nav"
							"aside"
							"footer";
}


/* Apply the following styles to screens > 720px */

@media only screen and (min-width: 720px) {
	
	.grid{
		display: grid;
		grid-template-areas: 	"header header header"
								"nav section section"
								"nav aside aside"
								"footer footer footer";	
	}
}

/* Apply the following styles to screens > 1024px */
@media only screen and (min-width: 1024px) {
    
	.grid{
		display: grid;
		grid-template-areas: 	"header header header"
								"nav section aside"
								"nav section aside"
								"footer footer footer";	
	}
}
