
html {
  background: url(images/body.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 30px;
}

body {
	/*background: url("images/body.jpg") fixed;*/
	position: realtive;
	font-family: "Times New Roman", Times, serif;
}

#header  {
	float: none;
	display: flex;
}

#intro {
	opacity: 0.7;
	border: 9px solid cyan;
	border-radius: 30px 30px 0 0;
	background-color: blue;
	width: 400px;
	padding: 0 15px 20px 15px;
	height: fit-content;
	line-height: 50%;
	text-align: center;
	color: white;
}

#intro h1{
	font-size: 250%;
}

#intro h4,h2{
	display: inline;
}



#searching {
	border: 9px solid cyan;
	border-radius: 0 0 30px 30px;
	background-color: cyan;
	font-weight: bold;
	font-size: 130%;
	min-width: 400px;
	padding-bottom: 10px;
	margin: 0 0 20px 0;
	text-align: center;
	opacity: 0.7;
}

button {
	font-weight: bold;
	font-size: 90%;
}

#coordButton {
	margin-right: 10px;
	background-color: magenta;
	color: white;
}

#searchButton {
	margin-left: 10px;
	background-color: blue;
	color: white;
}

table {
	table-layout: relative;
	border: 2px solid black;
	border-radius: 10px;
	background-color: #777;
	opacity: 0.8;
	margin-bottom: 30px;
	width: 45%;
	padding: 1px;
}

thead {
	font-size: 140%;
	font-weight: bold;
	background-color: magenta;
	color: white;
}

thead td {
	outline: magenta 1px solid;
}

th {
	font-size: 120%;
	font-weight: bold;
	color: cyan;
	line-height: 90%;
}

tr {
	color: white;
	text-align: center;
}

tbody td  {
	border: 2px solid #444;
	word-spacing: normal;
	height: fit-content;
}

div {
	 flex-wrap: wrap;
	 clear:both;
}

pre {
	height: fit-content;
	font-family: "Times New Roman", Times, serif;
	line-height: 0.3em;
	font-size: 80%
}

#weatherPanel1 canvas {
	width: 45%;
	margin-left: 20px;
	display: block;
	color: white
	outline: black 2px solid;
	border-radius: 10px;
	background-color: #777;
	opacity: 0.8;
}
