/*
- Mobile first design
- Media query works out layout for larger screens
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/*background-color: #154249;*/
	background-image: linear-gradient(#154249, #3394a5, #154249);
}

body {
}

h2 {
	display: inline-block;
}

.navb {
  overflow: auto;			/*Needed to expand box height to encompass floated elements */
  background-color: #333;
}

.navb a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navb a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #23bfdb;
  color: white;
}

.navb .icon {
  display: none;
	color: white;
}

#contentDiv{
	clear:both;
}

.grid {
  width: 100vw;
  height: 100vh;
	grid-column-gap: 0.5%;
}

header, nav, aside, footer {
	color: white;
	padding:1em;
	text-align: center;
	border-radius: 2%;
}

header{
	/*background-color: #154249;*/
	background-color: rgba(255, 255, 255, 0);
	grid-area: header;
}

nav{
	box-shadow: 10px 10px 5px #244144;
	background-color: #2a8093;
	grid-area: nav;

}

nav button{
	display: block;
	margin: 1em auto;
	width: 8em;
	height: 4em;
}

#red{
	margin-top: 5em;
}

section{
	background-color: transparent;
	grid-area: section;
	border-radius: 2%;
}
section h1{
	text-shadow: 2px 1px 3px rgba(20,20,63,0.80);
	margin-top: 1em;
	margin-bottom: 2em;
	color: white;
	/*border-top: 1px solid #244144;
	border-bottom: 1px solid #244144;
	border-radius: 50%;*/
}

aside{
	box-shadow: 10px 10px 5px #244144;
	background-color: #2a8093;
	grid-area: aside;
}
aside h1{
	text-shadow: 2px 1px 3px rgba(20,20,63,0.80);
	margin: 0 0.5em 0.5em 0.5em;
	color: white;
}
aside p{
	text-shadow: 1px 2px 1px rgba(20,20,63,0.60);
	margin: 1em 0.5em 0 0.5em;
	color: white;
	font-family: sans-serif;
}

footer{
	position: relative;
	/*background-color: #154249;*/
	background-color: rgba(255, 255, 255, 0);
	grid-area: footer;
}
footer div{
	padding: 0.5em;
	background-color: rgba(10, 10, 10, 0.8);
	text-shadow: 1px 2px 1px rgba(20,20,63,0.60);
	float:left;
	border: 2px solid #2a8093;
	border-radius: 1em;
}
footer img{
	position: absolute;
  right: 0;
  bottom: 0;
}

#calculator-container {
  text-align: center;
  margin: 5% 0 0;
}

#caclulator {
		box-shadow: 10px 10px 5px #244144;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #126d7c;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  width: 50%;
}
.caclulator-button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5%;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
  margin: 2% 1%;
}

#input {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #fdfae8;
  border-radius: 20px;
  text-align: right;
}

#red:hover{
	color: white;
	background-color: rgba(255, 10, 10, 0.5);
}
#green:hover{
	background-color: rgba(9, 255, 87, 0.5);
}
#black:hover{
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
}
#white:hover{
	background-color: white;
}
#reset:hover{
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

/********************************Slider stuff*/
.slider {
  width: min-content;
	/*height: 100%;*/
  text-align: center;
  overflow: hidden;
	margin: 2em auto auto auto;
}

.slides {
  display: flex;
	background-color: #3394a5;
  overflow-x: auto;
  border-radius: 5px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
}
.slides::-webkit-scrollbar {
  width: 2%;
  height: 4%;
}
.slides::-webkit-scrollbar-thumb {
  background: #154249;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  flex-shrink: 0;
  width: 100%;
  height: 15em;
  border-radius: 10px;
  background: #3394a5;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  //font-size: 50px;
}
.slides > div:target {
  transform: scale(0.9);
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  //border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}
/**********************************************************End of Slider stuff*/

/* Show section before nav on mobile */
.grid{
	display: grid;
	grid-row-gap: 1em;
	grid-template-areas: 	"header"
								"nav"
							"section"
							"aside"
							"footer";
}

/* Apply the following styles to screens > 720px */

@media only screen and (min-width: 720px) {

	.grid{
		display: grid;
		grid-template-areas: 	"header header header"
								"nav section section"
								"nav aside aside"
								"footer footer footer";

    width: 100vw;
    height: 100vh
	}
}

/* Apply the following styles to screens > 1024px */
@media only screen and (min-width: 1024px) {

	.grid{
		display: grid;
		grid-template-areas: 	"header header header"
								"nav section aside"
								"footer footer footer";
    width: 100vw;
    height: 100vh
	}
}

@media screen and (max-width: 600px) {
  .navb a {display: none;}
  .navb a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .navb.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navb.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
