html {
	background: url(images/image1.jpg) no-repeat;
	background-size: cover;
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 0 auto;
	padding: 0 2em 1em;
	//width: 670px;
	//border: 3px solid blue;
}

p {
	font-weight: bold;
	//font-variant: small-caps;
	color: #F6CD61;
	text-shadow: 2px 1px 3px rgba(20,20,63,0.80);
	margin-top: 30px;
	margin-bottom: 2px;
}

#heading {
	font-family: Georgia, serif;
	font-variant: small-caps;
	border: 2px solid;
	border-radius: 30px 30px 0 0;
	display: inline-block;
	background-color: rgba(249,231,159,0.16);
	//width: 400px;
	padding: 10px 15px 10px 15px;
	//height: fit-content;
	//line-height: 50%;
	text-align: center;
	color: #EAD8B4;
}

#location_label {
	font-family: Georgia, serif;
	//font-variant: small-caps;
	text-shadow: 1px 2px 3px rgba(31,97,141,0.54);
	color: #F9E79F;
}

#locationTitle {
	font-weight: bold;
	font-size: 26px;
	text-shadow: 1px 2px 3px rgba(31,97,141,0.54);
	color: #F9E79F;
}

#inputArea {
	display: inline-block;
	padding: 22px;
	border: 2px solid;
	border-radius: 0 0 30px 30px;
	background-color: rgba(249,231,159,0.16);
	color: #EAD8B4;
}

#myChart {
	//overflow: hidden;
	display: none;
	height: 440px;
	width: 700px;
	//background-color: rgba(249,231,159,0.16);
	padding: 6px 12px;
	//border: 1px solid #ccc;
	border-top: none;
	//float: left;
}

#myChart2 {
	//overflow: hidden;
	display: none;
	height: 540px;
	//background-color: rgba(249,231,159,0.16);
	padding: 6px 12px;
	//border: 1px solid #ccc;
	border-top: none;
	//float: left;
}

#chartArea {
	width: 750px;
	border: 2px solid #ccc;
	border-radius: 0 30px 20px 20px;
}

#chartArea2 {
	width: 750px;
	border: 2px solid #ccc;
	border-radius: 0 30px 20px 20px;
}

::placeholder {
		color: #9e822e;
		font-style: italic;
}

label {
		width: 11em;
		text-shadow: 1px 2px 3px rgba(31,97,141,0.54);
}

.radioL {
	color: #F9E79F;
}

input[type="text"] {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	height: 1.5em;
	//box-shadow: 2px 2px 7px 1px rgba(234,216,180,0.91);
	border-radius: 15px;
	border: 2px solid #F9E79F;
	padding: 5px;
	//color: #F9E79F;
}

input[type="button"] {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	height: 2.5em;
	width: 4em;
	//box-shadow: 2px 2px 7px 1px rgba(234,216,180,0.91);
	border-radius: 15px;
	border: 2px solid #9e822e;
	padding: 5px;
}

input[type="radio"] {
	margin-left: 1em;
	margin-right: 1em;
	transform: scale(1.5);
}

#tabbedArea {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #F9E79F;
		float: right;
		//display: block;
		text-align: center;
		//margin-left: 20px;
}

/* Style the buttons that are used to open the tab content */
#tabbedArea button {
    background-color: inherit;
    float: left;
    //border: 3px solid ##FCF3CF;
		//border-right-width: thick;
		//border-radius: 20px;
		outline: inherit;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
#tabbedArea button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
#tabbedArea button.active {
    background-color: #ccc;
}

#chartTab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #F9E79F;
		float: left;
		//display: block;
		//text-align: center;
		//margin-left: 20px;
}

/* Style the buttons that are used to open the tab content */
#chartTab button {
    background-color: inherit;
    float: left;
    //border: 3px solid ##FCF3CF;
		//border-right-width: thick;
		//border-radius: 20px;
		outline: inherit;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
#chartTab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
#chartTab button.active {
    background-color: #ccc;
}

.tabLinks {
	font-size: 18px;
	font-style: oblique;
	font-family: monospace;
}

.charts {
	font-size: 16px;
	//font-style: oblique;
	font-family: monospace;
}

.tempIMG {
	display: inline;
	//size:50px 50px;
}

.tempL {
	font-size: 36px;
	font-family: monospace;
	font-weight: bold;
	//font-family: fantasy;
	color: #EAD8B4;
}

.humL {
	font-size: 30px;
	font-family: monospace;
	font-weight: bold;
	color: #e1d0af;
}

.windL {
	font-size: 26px;
	font-family: monospace;
	font-weight: bold;
	color: #f0e0c2;
}

/* Style the tab content */
.tabcontent {
		overflow: hidden;
    display: none;
		//height: 440px;
		width: 400px;
		background-color: rgba(249,231,159,0.16);
    padding: 6px 12px;
    //border: 1px solid #ccc;
    border-top: none;
		float: right;
		border: 2px solid #ccc;
		border-radius: 30px 0 20px 20px;

}
.tabcontent2 {
		//overflow: hidden;
    display: none;
		//height: 500px;
		width: 500px;
		background-color: rgba(249,231,159,0.16);
    padding: 6px 12px;
    //border: 1px solid #ccc;
    border-top: none;
		float: left;

}

.detailL {
	//float: left;
	text-align: left;
}
