body{
	width:1000px;
	border: 2px solid black;
	text-align:center;
}

header{
	border: 2px solid black;
}

section{
	float:left;
	width: 700px;
	border: 2px solid black;
}

aside{
	float:left;
	width: 292px;
	border: 2px solid black;
}

footer{
	clear:both;
	border: 2px solid black;	
	
}