*{
	box-sizing: border-box; //Includes border into width
}

body{
	width:90%;
	border: 2px solid black;
	text-align:center;	
}

header{
	border: 2px solid black;
}

section{
	float:left;
	width: 70%;
	border: 2px solid black;
}

aside{
	float:right;
	width: 30%;
	border: 2px solid black;
}

footer{
	clear:both;
	border: 2px solid black;	
}