* {
		margin: 0;
		padding: 0;
	}
body {
		font: 87.5% Arial, Helvetica, sans-serif;
		width: 500px;
		margin: 20px auto;
		padding: 20px;
		border: 2px solid blue;
	}
h1 {
		color: blue; 
		font-size: 140%;
	}
h2 {
		font-size: 115%;
		padding: .5em 0;
	}
label {
		color: blue;
		float: left;
		width: 8em;
		font-weight: bold;
		text-align: left;
	}
input {
		width: 15em;
		margin: 0 0 .5em 1em;
	}
input:valid:required {
		border: 2px solid green;
	}
input:invalid:required {
		border: 2px solid red;
	}	
	
#button, #reset {
		width: 7em;
		background-color: silver;
		box-shadow: 2px 2px 0 blue; 
	}
#button {
		margin-left: 9em;
	}
.checkbox{
		width: 13px;
}