/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 98%; /* 850px */
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #931420;
		background-image: -moz-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
	background-image: -o-linear-gradient(
	    30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
	background-image: linear-gradient(
	    30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
}
header h2 {
	font-size: 175%;
	color: #800000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 1%; /*30px*/
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
/* the styles for the main content */
main {
	clear: left;
}

/* the styles for the section */
section {
	width:67.64%; /*575px*/
	float: right;
	padding: 0 2.35% 20px 2.35%; /*20px 20px*/
}
section h1 {
	color: #800000;
	font-size: 150%;
	padding-top: .5em;
	margin: 0;
}
section p {
	padding-bottom: 2%;
}

/* the styles for the article */
article {
	padding: .5em 0;
}
article h2 {
	font-size: 115%;
	padding: 0 0 .25em 0;
}
article img {
	float: right;
	margin: .5em 0 1em 1%;
	border: 1px solid black;
}

/* the styles for the aside */
aside {
	width: 25.3%; /*215px*/
	float: right;
	padding: 0 0 20px 2.35%;
}
aside h2 {
	color: #800000;
	font-size: 130%;
	padding: .6em 0 .25em 0;
}

aside h3 {
	font-size: 100%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}

/* the styles for the navigation list */
#nav_list ul { 
	list-style: none;
	margin-left: 0;
	margin-bottom: 1.5em; }
#nav_list ul li { 
	width: 93%; //200px
	margin-bottom: .5em;
	border: 2px double black;
	border-radius: 10px;
	box-shadow: 3px 3px 0 0 #800000;
	background-image: url("../images/right.jpg");
	background-repeat: no-repeat;
	background-position: 95% center;
}
#nav_list ul li a {
	display: block;
	padding: .5em 0 .5em 1%;
	text-decoration: none;
	font-weight: bold;
	color: black;
}
#nav_list ul li a.current {
	color: #800000;
}

/* the styles for the footer */
footer {
	background-color: #931420;
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}
