body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 450px;
    border: 3px solid blue;
}
h1 {
	color: blue;
	margin: 0 0 .5em;
}
main {
    padding: 1em 2em;
}
label {
	float: left;
    width: 10em;
	margin-right: 1em;
    
}
input {
    margin-bottom: .5em;
}

input:valid {
	border: 2px solid green;
}

input:invalid {
	border: 2px solid red;
}

input:focus {
 //border: 2px solid navy; 
 }
#convert {
	width: 10em;
}
