*{
  margin: 0px;
  padding: 0px;
}

body {
  background-image:url(plainBody.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;

}
.row
{
    max-width: 1200px;
		margin: auto;
}

.main-nav
{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
 text-align: center;
}
.main-nav li
{
    display: inline-block;
    float: center;
}


.main-nav li a:hover
{
    border: 1px solid white;
    background-color: #808080;
}


.main-nav li a
{
    color: yellow;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: oblique;
}

.hero
{
    margin-left: 0px;
    margin-top: 0px;
}

.hero h1 {
	margin-top: 30px;
	color: yellow;
	text-transform: uppercase;
	font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-style: oblique;
  margin-left: 390px;
  margin-bottom: 40px;


}

header
{
    background-image:url(Raining.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#dropDownMenu{
	text-align: center;
}


.getWeatherBtn
{
	text-align: center;
    margin-top: 30px;
    //margin-left: auto;
}

.chartwrapper {
  width: 70%;
  padding-bottom: 50%;
  box-sizing: border-box;
  margin-left: 200px;
}

.myChart {
  width: 100%;
  height: 100%;
}

.row2
{
    max-width: 440px;
		margin: auto;
    margin-left: 525px;
}

.main-nav2
{
 list-style-type: none;
 overflow: hidden;
 height: 55px;
 background-color: #333;
 text-align: center;
 border: color:orange, 2px;
 border-style: dashed;
 border-width: 3px;
 border-left-width: 10px;
 border-right-width: 10px;
 border-color: orange;
}

.main-nav2 li
{
    display: inline-block;
    float: center;
}

.main-nav2 li label
{
    color: orange;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: oblique;
}
