html {
		background-image:  url("../images/bats.gif");
}

body {
		font-family: sans-serif;
		width: 800px;
		background-color: white;
		border: 2px solid black;
		box-shadow: 2px 2px 5px 4px black;
		vertical-align: center;
		margin: auto;
		
}

img {
		float: left;
		margin-right: 25px;
}

header {
		border-bottom: 2px solid black;
		background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
		
}

header h2{ 
		font-size: 230%;
		margin-top: 0;
		/*font-style: italic;
		text-shadow: 2px 2px black;
		color: orange;*/
		
}

header h3 {
		font-size: 120%;
}

main h1 {
		font-size: 140%;
}

main h1:first-child::first-letter {
		font-size: 200%;
		
}

a[href] {
		font-style: bold;
		color: orange;
}

a:hover, a:focus {
		color: green;
}

li {
		margin-bottom: 0.5em;
}

footer {
		font-size: 90%;
		text-align: center;
		border-top: 2px solid black;
		border-top-color: black;
		background-image: linear-gradient(45deg, black 0%, orange 75%, white 100%);
}

footer p {
		margin-bottom: 0;
}

	