body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navb {
  overflow: auto;			/*Needed to expand box height to encompass floated elements */
  background-color: #333;
}

.navb a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navb a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.navb .icon {
  display: none;
}

#contentDiv{
	clear:both;
}

@media screen and (max-width: 600px) {
  .navb a {display: none;}
  .navb a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;} 
  .navb.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navb.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}