.text {
	border-radius: 5px;
	box-shadow: 0px 0px 3px #ccc, 0 10px 20px #eee inset;
	padding: 5px;
}


.text:valid {
	border: 1px solid green;
}

.text:invalid {
	border: 1px solid red;
}

.text:focus:invalid{
	background: hsla(0, 90%, 70%, 1);
}
.text:required:valid{
	background: hsla(100, 90%, 70%, 1);
	
}

form{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}



label {
	display: inline-block;
	width: 100px;
	padding: 10px;
	float: left;
}

ul {
  list-style-type: none;
}

li {
	border-bottom: 1px solid #555;
	border-top: 1px solid #555;
}


.lines {
	filter: opacity(.20);
}

span {
	color: #555;
	font-size: 0.8em;
	margin-left: 2em;
}

#textarea {
	border-radius: 5px;
	box-shadow: 0px 0px 3px #ccc, 0 10px 20px #eee inset;
	padding: 5px;
	
}

button{
	margin: auto 20em;
	color: white;
	background-color: green;
	
}