html {
	background-color: yellow;
}

header {
}

body {
	width: 650px;
	margin: auto;
	border: 6px double blue;
	background-color: white;
	
}

main {
	padding: 10px;
}

footer {
	border-top: 3px solid blue;
	text-align: center;
		
}

footer p {
	font-size: 90%;
	font-weight: bold;
}

img {
	float: left;
	padding: 0.5em 1em;
}

h1 {
	font-size: 150%;
	color: blue;
	margin: 2px;
}

h2 {
	font-size: 125%;
	margin-top: 10px;
	margin-bottom: 5px;
}

h3 {
	font-size: 115%;
	margin: 4px auto;
}

ol {
	margin-top: 4px;
	margin-bottom: 1px;
}

blockquote {
	padding-bottom: 10px;
	margin: auto 0;
}
